In [2]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

from pprint import pprint

In [3]:
import plotly.express as px
import plotly
import plotly.io as pio
import plotly.graph_objects as go

In [4]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [5]:
dataset = 'survey_report_combined.csv'
df = pd.read_csv(dataset, dtype=object)
df.year = pd.to_datetime(df.year).dt.year
df.original_missing_values_per_row_percentage = df.original_missing_values_per_row_percentage.astype(float)

In [6]:
df.head()

,year,original_missing_values_per_row_percentage,country,programming_languages,programming_languages_other,years_experience,occupation,age,os,job_satisfaction,company_size,want_work_language,gender,education,database_desire_work,database_worked_with,undergrad_major,remote_status,industry
0,2011,18.18,Africa,javascript,NaN,<2,Web Application Developer,< 20,Linux,FML,1-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consulting
1,2011,27.27,Other Europe,java;sql;c,NaN,41310,Server Programmer,25-29,Windows 7,So happy it hurts,25-100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Software Products
2,2011,45.45,India,java;javascript;sql,NaN,41435,Server Programmer,25-29,Linux,NaN,100-999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Software Products
3,2011,9.09,Germany,java,haskell,41310,Student,< 20,Linux,I enjoy going to work,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Foundation / Non-Profit
4,2011,13.64,Other Asia,java;javascript;css;php;sql;c++;c;perl,NaN,11,"Executive (VP of Eng., CTO, CIO, etc.)",35-39,Linux,It pays the bills,1-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Software Products

In [7]:
def feature_across_years(feature, year_resume=True, value_counts=True):
    if value_counts:
        df_counts = df[feature].value_counts().to_frame()
        display(df_counts)
    if year_resume:
        feature_df = df.groupby(['year', feature])[feature].count().to_frame()
        feature_df.columns = ['count']
        feature_df['percentage'] = feature_df.groupby(level=0).apply(lambda x: x / float(x.sum())).round(4)
        display(feature_df)

In [10]:
feature_across_years('remote_status')

                                                         remote_status
A few days each month                                            32696
Less than once per month / Never                                 30220
Never                                                            29214
I rarely work remotely                                           26980
All or almost all the time (I'm full-time remote)                13370
Part-time remote                                                 10817
Less than half the time, but at least one day each week          10467
Full-time remote                                                  7321
It's complicated                                                  5524
More than half, but not all, the time                             4285
About half the time                                               3755
Occasionally                                                      3132

                                                              count  \
year remote_status
2014 Full-time remote                                           762
     Never                                                     2606
     Occasionally                                              3132
     Part-time remote                                           719
2015 Full-time remote                                          1687
     I rarely work remotely                                    7768
     Never                                                     3687
     Part-time remote                                          3010
2016 Full-time remote                                          4872
     I rarely work remotely                                   19212
     Never                                                     8946
     Part-time remote                                          7088
2017 A few days each month                                    15454
     About half the time                                       1769
     All or almost all the time (I'm full-time remote)         4905
     It's complicated                                          1849
     Less than half the time, but at least one day each week   4147
     More than half, but not all, the time                     1909
     Never                                                    13975
2019 A few days each month                                    17242
     About half the time                                       1986
     All or almost all the time (I'm full-time remote)         8465
     It's complicated                                          3675
     Less than half the time, but at least one day each week   6320
     Less than once per month / Never                         30220
     More than half, but not all, the time                     2376

                                                              percentage
year remote_status
2014 Full-time remote                                             0.1056
     Never                                                        0.3610
     Occasionally                                                 0.4339
     Part-time remote                                             0.0996
2015 Full-time remote                                             0.1044
     I rarely work remotely                                       0.4809
     Never                                                        0.2283
     Part-time remote                                             0.1864
2016 Full-time remote                                             0.1214
     I rarely work remotely                                       0.4789
     Never                                                        0.2230
     Part-time remote                                             0.1767
2017 A few days each month                                        0.3512
     About half the time                                          0.0402
     All or almost all the time (I'm full-time remote)            0.1115
     It's complicated                                             0.0420
     Less than half the time, but at least one day each week      0.0942
     More than half, but not all, the time                        0.0434
     Never                                                        0.3176
2019 A few days each month                                        0.2453
     About half the time                                          0.0283
     All or almost all the time (I'm full-time remote)            0.1204
     It's complicated                                             0.0523
     Less than half the time, but at least one day each week      0.0899
     Less than once per month / Never                             0.4300
     More than half, but not all, the time                        0.0338